<config>
    <bookdeatils>
        <title>ACSM'S INTRODUCTION TO EXERCISE SCIENCE</title>
        <edition>SECOND EDITION</edition>
        <author>JEFFREY A. POTTEIGER</author>
    </bookdeatils>
    <copyright>Copyright &#169; 2017 Wolters Kluwer Health | Lippincott Williams &amp; Wilkins</copyright>
</config>

